USE [master]
GO
/****** Object:  Database [testDb]    Script Date: 8/18/2021 12:23:49 AM ******/
CREATE DATABASE [testDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'testDb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\testDb.mdf' , SIZE = 3264KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'testDb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\testDb_log.ldf' , SIZE = 816KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [testDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [testDb]
GO
/****** Object:  Table [dbo].[Student]    Script Date: 8/18/2021 12:23:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Student](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](32) NOT NULL,
	[gender] [bit] NOT NULL,
	[dob] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Student] ON 

INSERT [dbo].[Student] ([id], [name], [gender], [dob]) VALUES (1, N'Nguyễn Thanh Thủy', 1, CAST(N'2001-04-22' AS Date))
INSERT [dbo].[Student] ([id], [name], [gender], [dob]) VALUES (3, N'Hoàng Đức Ngôn', 1, CAST(N'2000-06-05' AS Date))
INSERT [dbo].[Student] ([id], [name], [gender], [dob]) VALUES (4, N'Ngô Mỹ Hạnh', 0, CAST(N'2002-01-01' AS Date))
SET IDENTITY_INSERT [dbo].[Student] OFF
USE [master]
GO
